<p>Comentarios:</p>
{%for comentario in comentarios%}
<span>{{forloop.counter}}</span>
    <span comentario_id="{{comentario.0.id}}"
    {%if user.username == comentario.2.usuario %}
    class="comentario">{{comentario.0.contenido}}</span><br>
    <span comentario_id="{{comentario.0.id}}" class="eliminarC" style="cursor: pointer">Eliminar</span><br>
    <span comentario_id="{{comentario.0.id}}" class="editarC" style="cursor: pointer">editar</span>
    {%else%}
    >{{comentario.0}} </span><br>
    {%endif%}

{%if user.username %}
    <span><span class="comentarRespuesta" 
        style="color:blue; cursor:pointer" id_comentario="{{comentario.0.id}}">Comentar</span></span><br />
{%endif%}
<!--aqui el usuario-->
<a href="/usuario/?usuario={{comentario.2.id}}">{{comentario.2.usuario}}</a><br>
<span>Fecha de modificación {{comentario.0.fecha_de_modificacion}}</span>
{%if comentario.1%}
    <p>{{comentario.1}} comentarios</p>
    <button class="subbotonComentario" id="scom{{comentario.0.id}}" id_comentario="{{comentario.0.id}}" style="cursor:pointer;">ver comentarios</button><br>
    {%endif%}
    <div id="subcomentario{{comentario.0.id}}"></div>
{%endfor%}

{%if request.session.is_empty%}
<p>no se inicio session</p>
{%else%}

{%endif%}

