<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hola munndo</title>
</head>

<body>
    <h1>Foro de preguntas y respuestas</h1>    
    <!--Botones para registrarse e iniciar sesion-->
    <a href="/registro/"><input type="button" style="float: right;" value="Registrarse"></a>
    <a href="/login/"><input type="button" style="float: right;" value="Iniciar Sesión"></a>
    <input type="text">
    <input type="button" value="Buscar">
    
    {%block cuerpo%}
        <p>Preguntas</p>
        {% for pregunta in preguntas %}
            <a href="/pregunta/?id={{pregunta.id}}">{{pregunta.id}}{{pregunta.enunciado}}</a><br>
            <span>Descripción: </span><span>{{pregunta.descripcion}}</span>
        {%endfor%}
    {%endblock%}
</body>

</html>